@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();

            layui.use(['jquery', 'layer', 'form'], function () {
                var $ = layui.jquery,  layer = layui.layer, form = layui.form ;
                form.on('submit(save1)', function (data) {
                    if (!$('#UserNo').val().match(/[^\\w+$]/)) {
                        layer.open({
                            title: '提示', content: '用户编号应由数字、字母或下划线组成!', time: 2000
                        });
                        return;
                    }
                    var ddd = { str: JSON.stringify(data.field) };
                    ajaxHelper.post("/BasicSys/UserLogin/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        if (jsonObj.result) {
                            location.href = "/Home/Index";
                        }
                        else {
                            layer.open({
                                title: '提示', content: jsonObj.reason
                            });
                        }

                    });
                    return false;
                });
                form.render();
            });
        });
    </script>
}
<form class="layui-form" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" id="UserNo" name="UserNo" autocomplete="off" class="layui-input" maxlength="50">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" id="Password" typeof="password" name="Password" autocomplete="off" class="layui-input" maxlength="50" value="">
        </div>
    </div>
    <button class="layui-btn layui-btn-warm" type="button" lay-filter="save1" lay-submit="" data-type="save">
        <i class="layui-icon">&#xe618;</i> 确定
    </button>
    <button class="layui-btn layui-btn-danger" onclick="javascript: mvccloseall();">
        <i class="layui-icon">&#x1006;</i> 取消
    </button>
</form>
