<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Plugin/layui/css/layui.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Plugin/layui/layui.js"></script>
    <script type="text/javascript" src="~/Plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/JS/Normaljs.js"></script>
    <script type="text/javascript" src="~/JS/childpage.js"></script>
    @* ajax提交前效验文本框数据 *@
    <script type="text/javascript" src="~/JS/Validation.js"></script>
    <script type="text/javascript" src="~/JS/Common/AjaxHelper.js"></script>
    
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>