@{
    ViewBag.Title = "报刊信息维护";
    Layout = "~/Views/Shared/Normal.cshtml";
}
@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();


            layui.use(['laydate',  'layer', 'element', 'form', 'laytpl'], function () {
                var laydate = layui.laydate, layer = layui.layer, element = layui.element, form = layui.form, $ = layui.jquery, laytpl = layui.laytpl;

                var start = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: false
                  , choose: function (datas) {
                      end.min = datas; //开始日选好后，重置结束日的最小日期
                      end.start = datas //将结束日的初始值设定为开始日
                  }
                };

                var end = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: true
                  , choose: function (datas) {
                      start.max = datas; //结束日选好后，重置开始日的最大日期
                  }
                };
                laydate.render({
                    elem: '#test1'
                });
                laydate.render({
                    elem: '#test2'
                });
                //查询
                form.on('submit(search)', function (data) {
                    var ddd = { str: JSON.stringify(data.field) };
                    ajaxHelper.post("/BasicSys/DocInfos/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        var getTpl = $("#tDocInfo").html(), view = $("#t_DocInfo");
                        if (jsonObj.result) {
                            if (jsonObj.data.length > 0) {
                                laytpl(getTpl).render(jsonObj.data, function (a) {
                                    $(view).html(a);
                                });
                            }
                        }
                        else {
                            $("#t_DocInfo").html("");
                        }
                        form.render();
                    });
                    return false;
                });
                //全选
                form.on('checkbox(allChoose)', function (data) {
                    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                    child.each(function (index, item) {
                        item.checked = data.elem.checked;
                    });
                    form.render('checkbox');
                });
                form.render();
                //新增数据
                $("#add").click(function () {
                    layer.open({
                        type: 2,
                        title: '新增报刊',
                        closeBtn: 1,
                        shade: [0],
                        area: ['700px', '400px'],
                        anim: 2,
                        content: ['/BasicSys/DocInfo_AddEdit'],//iframe的url，no代表不显示滚动条
                        end: function () {
                            $("#search").click();
                        }
                    });
                });
                //编辑
                $("#edit").click(function () {
                    if ($("#t_DocInfo").find("[name=table_ck]:checked").length == 0) {
                        layer.open({
                            title: '提示', content: '请勾选需要进行操作的数据!', time: 2000
                        });
                        return;
                    }
                    var addeditcode = $("[name=table_ck]:checked:eq(0)").val();
                    layer.open({
                        type: 2,
                        title: '修改报刊',
                        closeBtn: 1,
                        shade: [0],
                        area: ['700px', '400px'],
                        anim: 2,
                        content: ['/BasicSys/DocInfo_AddEdit?addeditcode=' + addeditcode],//iframe的url，no代表不显示滚动条
                        end: function () {
                            $("#search").click();
                        }
                    });
                });
                //批量删除
                $("#delete").click(function () {
                    if ($("#t_DocInfo").find("[name=table_ck]:checked").length == 0) {
                        layer.open({
                            title: '提示', content: '请勾选需要进行操作的数据!', time: 2000
                        });
                        return;
                    }
                    layer.confirm('确认要删除吗？', {
                        btn: ['是', '否'] //可以无限个按钮
                        , btn1: function (index, layero) {
                            var delkeys = "";
                            $("#t_DocInfo").find("[name=table_ck]:checked").each(function () {
                                delkeys += $(this).val() + ",";
                            });
                            delkeys = delkeys.substring(0, delkeys.length - 1);
                            var senddata = { str: delkeys };
                            ajaxHelper.post("/BasicSys/DocInfo_Delete/", senddata, function (da) {
                                var jsonObj = JSON.parse(da);
                                if (jsonObj.data == "NEEDLOGIN") {
                                    top.location = "../Account/Login";
                                    return false;
                                }
                                if (jsonObj.result) {
                                    layer.open({
                                        title: '提示', content: jsonObj.data, time: 2000
                                    });
                                    $("#search").click();
                                }
                                else {
                                    layer.open({
                                        title: '提示', content: jsonObj.reason, time: 2000
                                    });
                                }
                            });
                        }
                    });                    
                });
            });
        })
    </script>
}
<style>
    .layui-form-label {
        width: 120px;
    }
</style>
<script id="tDocInfo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <tr>
        <td><input type="checkbox" name="table_ck" value="{{item.ID}}" lay-filter="table_ck" lay-skin="primary" title=""></td>
        <td>{{item.DOCNAME}}</td>
        <td>{{item.ISSN}}</td>
        <td>{{item.PUBLISHAREA}}</td>
        <td>{{item.PUBLISHER}}</td>
        <td>{{item.PRICE}}</td>
        <td>{{item.PL}}</td>
        <td>{{item.BKDH}}</td>
        <td>{{item.ADDDATE}}</td>
        <td>{{item.ADDPERSON}}</td>
    </tr>
    {{#  }); }}
</script>
<div>
    <div class="layui-collapse" lay-accordion="">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div class="layui-colla-content layui-show">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">录入起始时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="test1" id="test1" placeholder="年-月-日">
                        </div>
                        <label class="layui-form-label">录入截止时间</label>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="test2" id="test2" placeholder="年-月-日">
                            </div>
                        </div>
                        <label class="layui-form-label">报刊名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="" name="Name" autocomplete="off" class="layui-input" maxlength="50" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">ISSN</label>
                        <div class="layui-input-inline">
                            <input type="text" id="" name="ISSN" autocomplete="off" class="layui-input" maxlength="50" value="">
                        </div>
                        <label class="layui-form-label">报刊代号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="" name="BKDH" autocomplete="off" class="layui-input" maxlength="50" value="">
                        </div>
                        <label class="layui-form-label">出版地</label>
                        <div class="layui-input-inline">
                            <input type="text" id="" name="PublishArea" autocomplete="off" class="layui-input" maxlength="50" value="">
                        </div>
                        <button class="layui-btn" lay-filter="search" lay-submit="" id="search" data-type="save">查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <form class="layui-form" style="margin-left: 5px; margin-top: 20px;" action="" method="get" id="mainform">
            <div class=" layui-form-item">
                <button class="layui-btn layui-btn-warm" type="button" id="add">
                    <i class="layui-icon">&#xe654;</i> 新增
                </button>
                <button class="layui-btn layui-btn-warm" type="button" id="edit">
                    <i class="layui-icon">&#xe642;</i> 编辑
                </button>
                <button class="layui-btn layui-btn-danger" type="button" id="delete">
                    <i class="layui-icon">&#xe640;</i> 删除选中报刊
                </button>
            </div>
        </form>
    </div>
    <div>
        <form class ="layui-form">
            <table class="layui-table" style="width: 99%; margin-left: 5px;">
                <thead>
                    <tr>
                        <th><input type="checkbox" lay-filter="allChoose" lay-skin="primary" /></th>
                        <td>报刊名称</td>
                        <td>ISSN</td>
                        <td>出版地</td>
                        <td>出版社</td>
                        <td>价格</td>
                        <td>出版频率</td>
                        <td>报刊代号</td>
                        <td>录入时间</td>
                        <td>录入员</td>
                    </tr>
                </thead>
                <tbody id="t_DocInfo"></tbody>
            </table>
        </form>
</div>
    <ul id="biuuu_city_list"></ul>
    @* 分页 *@
    <div id="Page">

    </div>

</div>
