<form class="layui-form layui-form-pane" style="margin-left: 20px;margin-top:20px;" action="" method="get" id="mainform">
    <div class=" layui-form-item">
        <label class="layui-form-label">类型名称</label>
        <div class="layui-input-inline">
            <input type="text" id="" name="Name" placeholder="" autocomplete="off" class="layui-input" maxlength="50" value="">
        </div>
        <label class="layui-form-label">说明</label>
        <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class=" layui-form-item">
        <button class="layui-btn layui-btn-warm">
            <i class="layui-icon">&#xe618;</i> 确定
        </button>
        <button class="layui-btn layui-btn-danger" onclick="javascript: mvccloseall();">
            <i class="layui-icon">&#x1006;</i> 取消
        </button>
    </div>
</form>
