@{
    ViewBag.Title = "OrgInfo";
}
@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();
            layui.use(['laydate', 'layer', 'table','element', 'form', 'laytpl'], function () {
                var laydate = layui.laydate, layer = layui.layer, table = layui.table, element = layui.element, form = layui.form, $ = layui.jquery, laytpl = layui.laytpl;
               
                var start = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: false
                  , choose: function (datas) {
                      end.min = datas; //开始日选好后，重置结束日的最小日期
                      end.start = datas //将结束日的初始值设定为开始日
                  }
                };

                var end = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: true
                  , choose: function (datas) {
                      start.max = datas; //结束日选好后，重置开始日的最大日期
                  }
                };
                laydate.render({
                    elem: '#test1'
                });
                laydate.render({
                    elem: '#test2'
                });
                table.render({
                    height: 'full-300',
                    elem: '#maintb',
                    url: '/BasicSys/OrgInfos2/',
                    id:"OrgID",
                    cols: [[
                        { type: 'checkbox' },
                        { field: 'OrgCode', title: '机构编号', sort: true },
                        { field: 'Name', title: '机构名称' },
                        { field: 'ParentName', align: 'center', title: '上级机构' },
                        { field: 'Address', align: 'center', title: '地址' }
                    ]],
                    page: true,
                    id: 'testReload'
                });
                var $ = layui.$, active = {
                    reload: function () {
                        var Province = $('#Province option:selected').val();
                        var CompanyCity = $('#CompanyCity option:selected').val();
                        var CompanyUnderCity = $('#CompanyUnderCity option:selected').val();
                        var CompanyUnderArea = $('#CompanyUnderArea option:selected').val();
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1, //重新从第 1 页开始
                                groups: 5,
                                last: true,
                                first: true
                            }
                            , where: {
                                Province: Province,
                                CompanyCity: CompanyCity,
                                CompanyUnderCity: CompanyUnderCity,
                                CompanyUnderArea: CompanyUnderArea
                            }
                        });
                    },
                    getCheckData: function () { //获取选中数据
                        var checkStatus = table.checkStatus('testReload')
                            , data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                    }
                };

                $('.layui-form .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                $(function () {
                    var ddd = { str: '' };
                    selectchanged('', "Province");
                });
                //下拉框绑定
                function selectchanged(parentid,elem)
                {
                    if (elem!="") {
                        $("#" + elem + "").empty();
                    }                 
                    
                    var ddd = { str: parentid }
                    ajaxHelper.post("/BasicSys/OrgInfos/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        if (elem != "") {
                            var getTpl2 = $("#orginfo").html()
                                , view2 = $("#" + elem + "");
                        }
                        if (jsonObj.result) {
                            if (jsonObj.data.length > 0) {
                                if (elem != "") {
                                    laytpl(getTpl2).render(jsonObj.data, function (a2) {
                                        $(view2).html(a2);
                                    });
                                }
                            }
                        }
                        else {
                        }
                        form.render();
                    });
                }
                form.on('select(Province)', function (data) {
                    var CompanyCity = $("#CompanyCity");
                    CompanyCity.empty();
                    var CompanyUnderCity = $("#CompanyUnderCity");
                    CompanyUnderCity.empty();
                    var CompanyUnderArea = $("#CompanyUnderArea");
                    CompanyUnderArea.empty();
                    var parentid = $("#Province option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    else {
                        selectchanged(parentid, "CompanyCity");
                    }
                    return false;
                });
                form.on('select(CompanyCity)', function (data) {
                    var CompanyUnderCity = $("#CompanyUnderCity");
                    CompanyUnderCity.empty();
                    var CompanyUnderArea = $("#CompanyUnderArea");
                    CompanyUnderArea.empty();
                    
                    var parentid = $("#CompanyCity option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "CompanyUnderCity");
                    return false;
                });
                form.on('select(CompanyUnderCity)', function (data) {
                    var CompanyUnderArea = $("#CompanyUnderArea");
                    CompanyUnderArea.empty();
                    
                    var parentid = $("#CompanyUnderCity option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "CompanyUnderArea");
                    return false;
                });
                form.on('select(CompanyUnderArea)', function (data) {
                    
                    var parentid = $("#CompanyUnderArea option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "");
                    return false;
                });
                //全选
                form.on('checkbox(allChoose)', function (data) {
                    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                    child.each(function (index, item) {
                        item.checked = data.elem.checked;
                    });
                    form.render('checkbox');
                });
                form.render();
                //新增数据
                $("#add").click(function () {
                    var Province = $("#Province option:selected").val();
                    var CompanyCity = $("#CompanyCity option:selected").val();
                    var CompanyUnderCity = $("#CompanyUnderCity option:selected").val();
                    var CompanyUnderArea = $("#CompanyUnderArea option:selected").val();
                    var orgid = 0; var fresh = "";
                    if (CompanyUnderArea == "" || CompanyUnderArea==undefined) {
                        if (CompanyUnderCity == "" || CompanyUnderCity == undefined) {
                            if (CompanyCity == "" || CompanyCity == undefined) {
                                if (Province == "" || Province == undefined) {
                                    orgid = 0;
                                    fresh = "Province";
                                }
                                else {
                                    orgid = Province;
                                    fresh = "Province";
                                }
                            }
                            else {
                                orgid = CompanyCity;
                                fresh = "CompanyCity";
                            }
                        }
                        else {
                            orgid = CompanyUnderCity;
                            fresh = "CompanyUnderCity";
                        }
                    }
                    else {
                        orgid = CompanyUnderArea;
                        fresh = "CompanyUnderArea";
                    }
                    layer.open({
                        type: 2,
                        title: '新增机构',
                        closeBtn: 1,
                        shade: [0],
                        area: ['750px', '350px'],
                        anim: 2,
                        moveOut: true,
                        content: ['/BasicSys/OrgInfo_AddEdit?ParentID=' + orgid, 'yes'],//iframe的url，no代表不显示滚动条
                        end: function () {
                            selectchanged('', fresh);
                        }
                    });
                });
                //编辑
                $("#edit").click(function () {
                    
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    if (data.length == 0 || data.length == undefined) {
                        layer.open({
                            title: '提示', content: '请勾选需要进行操作的数据!', time: 2000
                        });
                        return false;
                    }
                    var addeditcode = data[0].OrgID;
                    layer.open({
                        type: 2,
                        title: '修改机构',
                        closeBtn: 1,
                        shade: [0],
                        area: ['400px', '260px'],
                        anim: 2,
                        moveOut: true,
                        content: ['/BasicSys/OrgInfo_AddEdit?ID=' + addeditcode],//iframe的url，no代表不显示滚动条
                        end: function () {
                            selectchanged('', 'Province');
                        }
                    });
                });
                //批量删除
                $("#delete").click(function () {
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    if (data.length == 0 || data.length == undefined) {
                        layer.open({
                            title: '提示', content: '请勾选需要进行操作的数据!', time: 2000
                        });
                        return false;
                    }
                    layer.confirm('确认要删除吗？', {
                        btn: ['是', '否', '取消'] //可以无限个按钮
                        , btn1: function (index, layero) {
                                 return false;
                        }
                    }, function (index, layero) {
                        var delkeys = "";
                        for (var i = 0; i < data.length; i++) {
                            delkeys += data[i].OrgID + ",";
                        }
                        delkeys = delkeys.substring(0, delkeys.length - 1);
                        var senddata = { str: delkeys };
                        ajaxHelper.post("/BasicSys/OrgInfo_Deletes/", senddata, function (da) {
                            var jsonObj = JSON.parse(da);
                            if (jsonObj.result) {
                                layer.open({
                                    title: '提示', content: jsonObj.data, time: 2000
                                });
                                selectchanged('', 'Province');
                            }
                            else {
                                layer.open({
                                    title: '提示', content: jsonObj.reason, time: 2000
                                });
                            }
                        });
                    }, function (index, layero) {
                        return false;
                    }); 
                    return false;
                });
            });
        })
    </script>
}
<style>
    .layui-form-label {
        width: 120px;
    }
</style>
<script id="orginfo" type="text/html">
    <option value="">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.OrgID}}">{{item.Name}}</option>
    {{#  }); }}
</script>
<form class="layui-form" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">省</label>
        <div class="layui-input-inline">
            <select id="Province" lay-filter="Province" style="width:150px;" name="Province"></select>
        </div>
        <label class="layui-form-label">市分公司</label>
        <div class="layui-input-inline">
            <select id="CompanyCity" lay-filter="CompanyCity" style="width:150px;" name="CompanyCity"></select>
        </div>
        <label class="layui-form-label">县分公司</label>
        <div class="layui-input-inline">
            <select id="CompanyUnderCity" style="width:150px;" lay-filter="CompanyUnderCity" name="CompanyUnderCity"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网点</label>
        <div class="layui-input-inline">
            <select id="CompanyUnderArea" style="width:150px;" lay-filter="CompanyUnderArea" name="CompanyUnderArea"></select>
        </div>
        <button class="layui-btn" lay-filter="search" type="button" id="search" data-type="reload"><i class="layui-icon">&#xe615;</i>查询</button>
        <button class="layui-btn layui-btn-warm" type="button" id="add">
            <i class="layui-icon">&#xe654;</i> 新增
        </button>
        <button class="layui-btn layui-btn-warm" type="button" id="edit">
            <i class="layui-icon">&#xe642;</i> 修改
        </button>
        <button class="layui-btn layui-btn-danger" id="delete">
            <i class="layui-icon">&#xe640;</i> 删除选中
        </button>
    </div>
</form>
<form class="layui-form">
    <table class="layui-table" id="maintb" style="width: 99%; margin-left: 5px;">
    </table>
</form>
