<form class="layui-form layui-form-pane" style="margin-left: 20px;margin-top:20px;" action="" method="get" id="mainform">
    <div class=" layui-form-item">
        <label class="layui-form-label">订购份数</label>
        <div class="layui-input-inline">
            <input type="text" id="" name="OrderNumber" placeholder="" autocomplete="off" class="layui-input" maxlength="50" value="">
        </div>
        <label class="layui-form-label">订阅月数</label>
        <div class="layui-input-inline">
            <input type="text" id="" name="Month" placeholder="" autocomplete="off" class="layui-input" maxlength="50" value="">
        </div>
    </div>
    <div class=" layui-form-item">
        <button class="layui-btn layui-btn-warm">
            <i class="layui-icon">&#xe618;</i> 确定
        </button>
        <button class="layui-btn layui-btn-danger" onclick="javascript: mvccloseall();">
            <i class="layui-icon">&#x1006;</i> 取消
        </button>
    </div>
</form>
