
<script id="qk" type="text/html">
    <option value="">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.BKDH}}">{{item.DOCNAME}}</option>
    {{#  }); }}
</script>
<script id="orginfo" type="text/html">
    <option value="">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.OrgID}}">{{item.Name}}</option>
    {{#  }); }}
</script>
@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();
            layui.use(['laydate', 'laypage', 'layer', 'element', 'form', 'table', 'laytpl'], function () {
                var laydate = layui.laydate, laypage = layui.laypage, layer = layui.layer, element = layui.element,
                    form = layui.form, table = layui.table, $ = layui.jquery, laytpl = layui.laytpl;
                var start = {
                    min: laydate.now
                    , max: '2099-06-16 23:59:59'
                    , istoday: false
                    , choose: function (datas) {
                        end.min = datas; //开始日选好后，重置结束日的最小日期
                        end.start = datas //将结束日的初始值设定为开始日
                    }
                };
                var end = {
                    min: laydate.now
                    , max: '2099-06-16 23:59:59'
                    , istoday: true
                    , choose: function (datas) {
                        start.max = datas; //结束日选好后，重置开始日的最大日期
                    }
                };
                laydate.render({
                    elem: '#test1'
                });
                laypage.render({
                    jump: function (obj, first) {
                        var test1 = $('#test1').val();
                        var Group_Type = $('#Group_Type').val();
                        var Province = $('#Province option:selected').val();
                        var CompanyCity = $('#CompanyCity option:selected').val();
                        var CompanyUnderCity = $('#CompanyUnderCity option:selected').val();
                        var CompanyUnderArea = $('#CompanyUnderArea option:selected').val();
                        var Roads = $('#Roads option:selected').val();
                        var NewspaperName = $('#NewspaperName option:selected').val();
                        var senddata = {
                            "test1": test1,
                            "Group_Type": Group_Type,
                            "Province": Province,
                            "CompanyCity": CompanyCity,
                            "CompanyUnderCity": CompanyUnderCity,
                            "CompanyUnderArea": CompanyUnderArea,
                            "Roads": Roads,
                            "NewspaperName": NewspaperName
                        };
                        ajaxHelper.post("/DistributeSys/Order_getCounts/",
                            { str: JSON.stringify(senddata) },
                            function (da) {
                                var jsonObj = JSON.parse(da);
                                if (jsonObj.data == "NEEDLOGIN") {
                                    top.location = "../Account/Login";
                                    return false;
                                }
                                if (jsonObj.result) {
                                    $("#sum").text(jsonObj.data);
                                }
                                else {
                                    layer.open({
                                        title: '提示', content: jsonObj.reason, time: 2000
                                    });
                                } }); } });
                table.render({
                    height: 'full-350',
                    elem: '#maintb',
                    id:'IDS',
                    url: '/DistributeSys/GetDis/',
                    cols: [[
                        { type: 'checkbox'},
                        { field: 'DocName', align: 'center', title: '报刊名称' },
                        { field: 'OrgName', align: 'center', title: '机构名称' },
                        { field: 'OrderNum', align: 'center', title: '份数' }
                    ]],
                    page: true,
                    id: 'testReload'
                });
                var $ = layui.$, active = {
                    reload: function () {
                        var test1 = $('#test1').val();
                        var Group_Type = $('#Group_Type').val();
                        var Province = $('#Province option:selected').val();
                        var CompanyCity = $('#CompanyCity option:selected').val();
                        var CompanyUnderCity = $('#CompanyUnderCity option:selected').val();
                        var CompanyUnderArea = $('#CompanyUnderArea option:selected').val();
                        var Roads = $('#Roads option:selected').val();
                        var NewspaperName = $('#NewspaperName option:selected').val();
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 0, //重新从第 1 页开始
                                groups: 5,
                                last: true,
                                first: true
                            }
                            , where: {
                                test1: test1,
                                Group_Type: Group_Type,
                                NewspaperName: NewspaperName,
                                Province: Province,
                                CompanyCity: CompanyCity,
                                CompanyUnderCity: CompanyUnderCity,
                                CompanyUnderArea: CompanyUnderArea,
                                Roads: Roads
                            }
                        });
                    }
                };

                $('.layui-form .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                //下拉框绑定
                $(function () {
                    bindqk();
                    selectchanged('', "Province");
                });
                form.on('submit(search)', function (data) {
                    ajaxHelper.post("/DistributeSys/Order_getCounts/",
                                { str: JSON.stringify(data.field) },
                                function (da) {
                                    var jsonObj = JSON.parse(da);
                                    if (jsonObj.data == "NEEDLOGIN") {
                                        top.location = "../Account/Login";
                                        return false;
                                    }
                                    if (jsonObj.result) {
                                        $("#sum").text(jsonObj.data);
                                    }
                                    else {
                                        layer.open({
                                            title: '提示', content: jsonObj.reason, time: 2000
                                        });
                                    }
                                });
                })
                function selectchanged(parentid, elem) {
                    $("#" + elem + "").empty();
                    var ddd = { str: parentid }
                    ajaxHelper.post("/BasicSys/OrgInfos/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        var getTpl2 = $("#orginfo").html()
                            , view2 = $("#" + elem + "");
                        if (jsonObj.result) {
                            if (jsonObj.data.length > 0) {
                                laytpl(getTpl2).render(jsonObj.data, function (a2) {
                                    $(view2).html(a2);
                                });
                            }
                        }
                        form.render();
                    });
                }
                form.on('select(Province)', function (data) {
                    $("#CompanyCity").empty();
                    document.getElementById('CompanyCity').innerHTML = "";
                    $("#CompanyUnderCity").empty();
                    var parentid = $("#Province option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    else {
                        selectchanged(parentid, "CompanyCity");
                    }
                    return false;
                });
                form.on('select(CompanyCity)', function (data) {
                    $("#CompanyUnderCity").html("");
                    var parentid = $("#CompanyCity option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "CompanyUnderCity");
                    return false;
                });
                form.on('select(CompanyUnderCity)', function (data) {
                    $("#CompanyUnderArea").html("");
                    var parentid = $("#CompanyUnderCity option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "CompanyUnderArea");
                    return false;
                });
                form.on('select(CompanyUnderArea)', function (data) {
                    $("#Roads").html("");
                    var parentid = $("#CompanyUnderArea option:selected").val();
                    if (parentid == "") {
                        return false;
                    }
                    selectchanged(parentid, "Roads");
                    return false;
                });
                //绑定报纸信息
                function bindqk() {
                    var ddd = { str: '' };
                    ajaxHelper.post("/BasicSys/GetAllDocInfo/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        var getTpl2 = $("#qk").html()
                            , view2 = $("#NewspaperName");
                        if (jsonObj.result) {
                            if (jsonObj.data.length > 0) {
                                laytpl(getTpl2).render(jsonObj.data, function (a2) {
                                    $(view2).html(a2);
                                });
                            }
                        }
                        form.render();
                    });
                }
                //分发
                form.on('submit(save1)', function () {
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    var delkeys = "";
                    
                    //因为表头算一行,所以至少两行才算是有数据
                    if (data.length == 0 || data.length == undefined) {
                        layer.open({
                            title: '提示', content: '请选择要分发的数据', time: 2000
                        });
                        return false;
                    }
                    for (var i = 0; i < data.length; i++) {  //遍历Table的所有Row
                        delkeys += data[i].ids + ",";
                        console.log(data[i].ids );
                    }
                    var action = $('#action').val();
                    delkeys = delkeys.substring(0, delkeys.length - 1);
                    layer.open({
                        type: 2,
                        title: '报纸分发',
                        closeBtn: 1,
                        shade: [0],
                        area: ['350px', '350px'],
                        anim: 2,
                        moveOut: true,
                        content: ['/DistributeSys/DistributeInfo_Edit?action=' + action + '&ids=' + delkeys, 'no'],//iframe的url，no代表不显示滚动条
                        end: function () {
                            $("#search").click();
                        }
                    });
                    return false;
                });
                form.render();
            });
        })
    </script>
}
<form class="layui-form" style=" margin-top: 10px;" action="" method="get" id="mainform">
    <div class=" layui-form-item" id="Group_Type">
        <label class="layui-form-label">统计类型</label>
        <div class="layui-input-inline">
            <input type="radio" name="Group_Type" value="1" title="按报刊统计" checked>
            <input type="radio" name="Group_Type" value="2" title="按机构统计">
        </div>
        <label class="layui-form-label">分发日期</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" value="@System.DateTime.Now.ToString("yyyy-MM-dd")" name="test1" id="test1" placeholder="年-月-日">
        </div>  
    </div>
    <div class=" layui-form-item" id="Visable_ByMagazine">
        <input type="hidden" id="action" name="action" value="city" />
        <label class="layui-form-label">报刊名称</label>
        <div class="layui-input-inline">
            <select id="NewspaperName" lay-filter="NewspaperName" name="NewspaperName" tag=""></select>
        </div>
        <label class="layui-form-label">省</label>
        <div class="layui-input-inline">
            <select id="Province" lay-filter="Province" style="width:150px;" name="Province"></select>
        </div>
        <label class="layui-form-label">市分公司</label>
        <div class="layui-input-inline">
            <select id="CompanyCity" lay-filter="CompanyCity" style="width:150px;" name="CompanyCity"></select>
        </div>
        <label class="layui-form-label">县分公司</label>
        <div class="layui-input-inline">
            <select id="CompanyUnderCity" style="width:150px;" lay-filter="CompanyUnderCity" name="CompanyUnderCity"></select>
        </div>
        <button class="layui-btn" type="button" lay-filter="search" lay-submit="" data-type="reload">统计</button>
        <button class="layui-btn" type="button" lay-filter="save1" lay-submit="" data-type="save">分发</button>
        <a id="sum" style="font-size:18px;color:red;">总份数:0</a>
    </div>
</form>
<div>
    <form class="layui-form">
        <table class="layui-table" id="maintb" style="width: 99%; margin-left: 5px;">
            
        </table>
    </form>
</div>
