@using System.Data
@using Common
@model object
@{
    //表示执行的操作是市-县级分发,或者是县-段道分发
    string action = "";
    if (Model != null)
    {
        action = Model._ToStr();
    }
}
@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();

            layui.use(['laydate', 'layer', 'element', 'form',  'table', 'laytpl'], function () {
                var laydate = layui.laydate, layer = layui.layer, element = layui.element, form = layui.form,
                    $ = layui.jquery, table = layui.table, laytpl = layui.laytpl;

                var start = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: false
                  , choose: function (datas) {
                      end.min = datas; //开始日选好后，重置结束日的最小日期
                      end.start = datas //将结束日的初始值设定为开始日
                  }
                };

                var end = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: true
                  , choose: function (datas) {
                      start.max = datas; //结束日选好后，重置开始日的最大日期
                  }
                };
                laydate.render({
                    elem: '#test1'
                });
                laydate.render({
                    elem: '#test2'
                });
                table.render({
                    elem: '#maintb',
                    url: '/DistributeSys/GetHistory/',
                    cols: [[
                        { field: 'rownumber', align: 'center', title: '序号', sort: true },
                        { field: 'Name', align: 'center', title: '报刊名称', sort: true },
                        { field: 'OrgName', align: 'center', title: '机构名称', sort: true },
                        { field: 'UnitName', align: 'center', title: '订户名称', sort: true },
                        { field: 'OrderNum', align: 'center', title: '订购数', sort: true },
                        { field: 'Date', align: 'center', title: '分发日期', sort: true },
                        { field: 'ffname', align: 'center', title: '分发员' },
                        { field: 'type', align: 'center', title: '分发类型' },
                        { field: 'nianjuanqi', align: 'center', title: '年卷期', sort: true }
                    ]],
                    page: true,
                    id: 'testReload'
                });
                var $ = layui.$, active = {
                    reload: function () {
                        var test1 = $('#test1').val();
                        var test2 = $('#test2').val();
                        var tttttt = $('#action').val();
                        console.log(tttttt);
                        var User = $('#User option:selected').val();
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1, //重新从第 1 页开始
                                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
                                groups: 5,
                                last: true,
                                first: true
                            }
                          , where: {
                              test1: test1,
                              test2: test2,
                              User: User,
                              tttttt: tttttt
                          }
                        });
                    }
                };
                $(function () {
                    GetPosters();
                });
                //绑定投递员信息
                function GetPosters() {
                    var ddd = { str: "" };
                    ajaxHelper.post("/DistributeSys/GetFFs/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        if (jsonObj.data == "NEEDLOGIN") {
                            top.location = "../Account/Login";
                            return false;
                        }
                        var getTpl3 = $("#PosterInfo").html()
                            , view3 = $("#User");

                        if (jsonObj.result) {
                            laytpl(getTpl3).render(jsonObj.data, function (a3) {
                                $(view3).html(a3);
                                form.render();
                            });
                        }
                    });
                }
                $('.layui-form .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                form.render();
            });
        })
    </script>
}
<script id="PosterInfo" type="text/html">
    <option value="" tag="">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.ID}}">{{item.NAME}}</option>
    {{#  }); }}
</script>
<style>
    .layui-form-label {
        width: 120px;
    }
</style>
<div>
    <div>
        <form class="layui-form" style="margin-top: 20px;">
            <input type="hidden" id="action" name="action" value="@action" />
            <div class="layui-form-item">
                <label class="layui-form-label">分发起始时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="test1" id="test1" placeholder="年-月-日">
                </div>
                <label class="layui-form-label">分发截止时间</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="test2" id="test2" placeholder="年-月-日">
                    </div>
                </div>
                <label class="layui-form-label">分发员</label>
                <div class="layui-input-inline">
                    <select id="User" lay-filter="User" name="User" tag=""></select>
                </div>
                <button class="layui-btn" lay-filter="search" lay-submit="" type="button" id="search" data-type="reload"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
        </form>
    </div>
    <div>
        <table class="layui-table" id="maintb" style="width: 99%; margin-left: 5px;"></table>
    </div>
</div>